#page-wrap {
     width: 800px;
     height: 900px;
     margin: 0 auto;
     background-color: #3B3176;
}
h1{
    text-align: center;
    text-shadow:2px 2px #3B3176;
    color: #857DB1;
}

#canvas{
    border: 5px solid;
    margin: 5px;
    padding: 2px;
    box-shadow: 2px 2px #0F083B;
    height: 350px;
    width: 500px;
    background-color: white;
}

button {
    margin: 5px;
    display: inline;
}

ul {
    list-style-type: none;
}
table{
    width:800px;
    margin: 0 auto;
}
tr{
        background-color: #5C5393;
        text-align: center;
}
td{
    color:#0F083B;
}
#save{
background-color: #555794;
width: 800px;
 margin: 0 auto;
}
